extends layout

block content

    section(class='examen-content')
        h1
        
        include extensionStat
        
        include extensionTests
            
        p#abandon-examen.bouton-bleu: a(href="resultats") Abandon de l'examen
        
        script(type="application/javascript", src="/javascript/test.js")
        script(type="application/javascript", src="/javascript/examen.js")


