extends stat_layout

block content

    section
        h1 Examen de HTML
        form(action="./examen2")
            fieldset
                legend Question 1 : What of the following is a semantic element in HTML?
                label(for="ExamQ1rep1")
                    input(id="ExamQ1rep1",type="checkbox") 
                    | article
                label(for="ExamQ1rep2")
                    input(id="ExamQ1rep2", type="checkbox")
                    | h1      
                label(for="ExamQ1rep3")
                    input(id="ExamQ1rep3", type="checkbox")
                    | time 
                label(for="ExamQ1rep4")
                    input(id="ExamQ1rep4", type="checkbox")
                    | wbr 
            p: input(
                      type="submit"
                      value="Question suivante"
                    )
            p: test
        include extensionExamen


