extends layout

block content

    section(class='examen-content')
        h1
        
        include extensionStat
        
        form(action="./resultats")
            fieldset
                legend
                p(class="question")
                div(class="reponses")
                    p(id="1", draggable="true")
                    p(id="2", draggable="true")
                    p(id="3", draggable="true")
                    p(id="4", draggable="true")
                div(class="zone_reponse")
                    p(class="aide") Faites glisser une réponse ici
            p: input(
                      type="submit"
                      value="Question suivante"
                    )
            
            
        include extensionExamen
        
        
        script(type="application/javascript", src="/javascript/test.js")
        script(type="application/javascript", src="/javascript/examen.js")


