section(class="statsection")
    h2 Statistiques :
    table
        tr
            td Nombre de tests rapides réussis:
            td 
                span eh
                | / 
                span eh
        tr
            td Résultat du test HTML:
            td 5
        tr
            td Résultat du test CSS:
            td 10
        tr
            td Résultat du test Javascript:
            td 10
        tr
            td Moyenne des examens:
            td 13/20
                
