section(class="statsection")
    h2 Statistiques :
    table
        tr
            td Nombre de tests rapides réussis:
            td 4
        tr
            td Moyenne des examens:
            td 13/20
        tr
            td Résultat du test 1:
            td 5
        tr
            td Résultat du test 2:
            td 10
                
