section(class="statsection")
    h2 Statistiques :
    table
        tr
            td Nombre de tests rapides réussis:
            td
                span#rapides-reussis 0
                |/ 
                span#rapides-effectue 0
        tr
            td Moyenne du test HTML:
            td
                span#moyenne-html 0
                |  %
        tr
            td Moyenne du test CSS:
            td
                span#moyenne-css 0
                |  %
        tr
            td Moyenne du test Javascript:
            td
                span#moyenne-js 0
                |  %
        tr
            td Moyenne des examens:
            td
                span#moyenne-examens 0
                |  %