doctype html
html
  head(lang="fr")
    meta(charset="utf-8")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
        ul
            li: a(href="/") PAGE D'ACCUEIL
            li: a(href="tableau_de_bord") TABLEAU DE BORD
            li: a(href="instructions") PAGE D'INSTRUCTION
    block content
    
  footer
    p Margaux Debailleux - N°1864315
        br
        | Johan Nordholts - N°1864337
