extends layout

block content

    div(class="affichage-question)
        ul
                    li(class="texte-domaine")
                    li(class="texte-question")
                    li(class="texte-rep")
                        ul
                    li(class="texte-bonne-rep")
                    
    script(type="application/javascript", src="/javascript/question.js")