extends stat_layout

block content

    section
        h1 Quiz de HTML
        form(action="./test_rapide2")
            fieldset
                legend Question 1 : What of the following is a semantic element in HTML?
                label(for="TestQ1rep1")
                    input(id="TestQ1rep1",type="checkbox") 
                    | article
                label(for="TestQ1rep2")
                    input(id="TestQ1rep2", type="checkbox")
                    | h1      
                label(for="TestQ1rep3")
                    input(id="TestQ1rep3", type="checkbox")
                    | time 
                label(for="TestQ1rep4")
                    input(id="TestQ1rep4", type="checkbox")
                    | wbr 
            p: input(
                      type="submit"
                      value="Question suivante"
                    )
        include extensionTest



