extends layout

block content
    
    section(class='test-content')
        h1 Test rapide
        
        include extensionStat
        
        include extensionTests
        
        section(class="clear")
            h2 Note actuelle :
            p 0 points
        p(class='bouton-bleu'): a(href="tableau_de_bord") Retour au tableau de bord
        
        script(type="application/javascript", src="/javascript/test.js")
        script(type="application/javascript", src="/javascript/test_rapide.js")

